<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 col-md-offset-1 ">
    <h2>Abilities</h2> {{pokemon.abilities | json}} <h2>Height</h2>
    <h2>Held Items</h2> {{pokemon.held_items}} {{pokemon.height | json}} <h2>Base Experience</h2> {{pokemon.base_experience}} <h2>Forms</h2> {{pokemon.forms | json}} <h2>Species</h2> {{pokemon.species | json}} <h2>Types</h2> {{pokemon.types | json}} <h2>Game Indices</h2> {{pokemon.game_indices | json}}
  </div>
  <div class="col-md-2"></div> </div>
